/*navbar*/
.navbar-inverse {
    background-color: #383E4C;
    border-color: #383E4C;
}
.navbar-nav>li {
    display: inline-block;
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    background: #383E4C none repeat scroll 0 0;
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav > li > a.current,
.navbar-inverse .navbar-nav > li > a:hover {
        background: #49505F;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height: 3em;
}

.navbar .navbar-collapse {
    text-align: center;
}
.logo>a>img{
    width: 5em;
    height: 5em;
    float: left;
}
.logo>img{
    width:100%;
    height:100%;    
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:black;
    text-transform: uppercase;
  text-shadow: 2px 2px #ffffff;
} 
.container{
    text-align:start; 
}
/* CSS for cards*/
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
  }
  
 .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.img-container>img{
height:100%;
width: 100%;
}
.img-container{
    width: 70px;
    height: 70px;
}
.button{
    width: 5em;
    height: 2em;
    border-radius: 10%;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 35%;
}
.red{
    background-color: green;
}
.green{
    background-color: green;
}
.feature-content>p{
    font-family: system-ui;
    margin-top: 2em; 
    margin-bottom: 2em;
}
h2{
    font-family: system-ui;
}
/*Footer*/
.u-align-center {
    text-align: center;
  }
  .u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-footer {
    background-image: none;
    margin-top: 2em;
  }
  
  .u-footer .u-sheet-1 {
    min-height: 120px;
  }
  
  .u-footer .u-text-1 {
    width: 417px;
    margin: 49px auto;
  }
  .u-grey-80{
    color: #ffffff;
    background-color: #333333;
  }
   
footer>div>p>a:link {
    color: lightblue;
  }
  
  /* visited link */
  footer>div>p>a:visited {
    color: lightblue;
  }
  
  /* mouse over link */
  footer>div>p>a:hover {
    color: grey;
  }
  
  /* selected link */
  footer>div>p>a:active {
    color: blue;
  } 
  footer>div>p>a{
      text-decoration: none;
  }
  video{
    width: 500px;
    height: 380px;
}
.left{
    float:left;
}
.video-container{
    margin-top: 30px;
    margin-left: 30%;
}